@page
@model Bargio.Areas.Admin.Pages.EditDatabase.HistoriqueTransactions.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionHistory[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionHistory[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionHistory[0].Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionHistory[0].IdProduits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionHistory[0].Commentaire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TransactionHistory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProduits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
