@page
@model Bargio.Areas.Admin.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard administrateur";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

@section IncludeHead {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
}

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/api/sum().js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <environment names="Development">
        <script src="/js/admin-dashboard.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="/js/admin-dashboard.min.js"></script>
    </environment>
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#accueil" role="tab">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#gestion-compte" role="tab">Gestion comptes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#manip" role="tab">Bucquage manip</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#historique" role="tab">Historique</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pane-mode-archi" role="tab">Mode Archi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#liste-produits" role="tab">Produits</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#parametres" role="tab">Paramètres</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#modifier-bdd" role="tab">Bases de données</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" style="color: darkred">Déconnexion</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
<!-- Accueil -->
<div class="tab-pane fade show active" id="accueil" role="tabpanel">

    <p class="lead" style="margin-top: 5px;">
        <a class="btn btn-success" asp-page="/EditDatabase/RaccourcisProms/Index" asp-area="Admin" role="button">Modifier les raccourcis des prom's</a>
    </p>
    <br/>
    <hr/>
    <br/>
    <p class="lead">Derniers bucquages</p>

    <div>
        <table id="table-derniers-bucquages" class="table-responsive-datatable display nowrap">
            <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Compte
                </th>
                <th>
                    Bucquage
                </th>
                <th>
                    Montant
                </th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
    
<!-- Bucquage manip -->
<div class="tab-pane fade show" id="manip" role="tabpanel">

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Nom de la manip</label>
                    <input type="text" class="form-control" id="manip-nom" />
                    <label class="control-label">Prix unitaire</label>
                    <input type="number" class="form-control" id="manip-prix" value="0" />
                    <label class="control-label">Prom's</label>
                    <input type="text" class="form-control" id="manip-proms" />
                </div>
            </div>

            <p class="lead">
                <a class="btn btn-success btn-sm" href="#" id="a-manip-proms-confirmer" role="button">Continuer</a>
            </p>

            <div id="manip-proms-panel">
                <hr/>
                <br/>
                <table id="table-manip-proms" class="table-responsive-datatable clickable-table display nowrap">
                    <thead>
                        <tr>
                            <th>
                                Num's
                            </th>
                            <th>
                                Bucquages
                            </th>
                            <th>
                                Solde
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <p class="lead" style="font-size:1rem;">
                    Choisissez un PG puis : <br/>
                    - Entrée: Ajouter un bucquage<br/>
                    - Retour: Annuler le dernier bucquage<br/>
                </p>
                <a class="btn btn-success btn-sm" id="a-manip-confirmer" role="button" style="color: white;">
                    Confirmer tous les bucquages
                </a>
                <span id="bucquage-patience"> -- L'opération peut prendre un peu de temps</span>
       
            </div>
        </div>
    </div>

</div>

<!-- Modifier un compte -->
<div class="tab-pane fade" id="gestion-compte" role="tabpanel">

    <div>
        <p class="lead">
            <a class="btn btn-success btn-sm" asp-page="/EditDatabase/Utilisateurs/Create" asp-area="Admin" role="button">Ajouter des comptes</a>
        </p>

        <table id="table-modifier-compte" class="table-responsive-datatable clickable-table display nowrap">
            <thead>
            <tr>
                <th>
                    Num's
                </th>
                <th>
                    Solde
                </th>
                <th>
                    Surnom
                </th>
                <th>
                    Prénom
                </th>
                <th>
                    Nom
                </th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <label>Total: <span id="total-utilisateurs"></span> €</label>
        <br/>
        <br/>
        <hr/>
        <div class="card" id="card-modif-utilisateur">
            <div class="card-body">
                <p class="lead" id="utilisateur-a-modifier">Compte</p>
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label">Bucquage manuel (€)</label>
                        <input type="number" class="form-control" id="bucquage-montant"/>
                        <label class="control-label">Raison bucquage</label>
                        <input type="text" class="form-control" id="bucquage-raison"/>
                    </div>
                    <p class="lead">
                        <a id="a-bucquage-manuel" href="#" class="btn btn-success btn-sm" role="button">Faire un bucquage manuel</a>
                    </p>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="mode-archi"/> Mode Archi
                    </label>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="hors-foys"/> Hors Foys
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Prénom</label>
                    <input type="text" class="form-control" id="prenom"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Nom</label>
                    <input type="text" class="form-control" id="nom"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Surnom</label>
                    <input type="text" class="form-control" id="surnom"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Num's</label>
                    <input type="text" class="form-control" id="nums"/>
                </div>
                <div class="form-group">
                    <label class="control-label">TBK</label>
                    <input type="text" class="form-control" id="tbk"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Prom's</label>
                    <input type="text" class="form-control" id="proms"/>
                </div>

                <div class="form-group">
                    <p class="lead">
                        <a class="btn btn-success btn-sm" href="#" id="a-confirmer" role="button">Confirmer</a>
                    </p>
                </div>
                <div class="form-group">
                    <p class="lead">
                        <a class="btn btn-primary btn-sm" href="#" id="a-supprimer-mdp" role="button">Supprimer le mot de passe du compte</a>
                    </p>
                </div>
                <br/>

                <p class="lead">
                    La mise hors babasse s'effectue directement sur la babasse du foy's.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Historique global -->
<div class="tab-pane fade" id="historique" role="tabpanel">

    <label class="control-label">Depuis</label>
    <div class="input-group date" id="timepicker-debut" data-target-input="nearest">
        <div class="input-group-prepend" data-target="#timepicker-debut" data-toggle="datetimepicker">
            <div class="input-group-text">
                <i class="fa fa-clock-o"></i>
            </div>
        </div>
        <input type="text" class="form-control datetimepicker-input" data-target="#timepicker-debut"/>
    </div>

    <label class="control-label">Jusqu'à</label>
    <div class="input-group date" id="timepicker-fin" data-target-input="nearest">
        <div class="input-group-prepend" data-target="#timepicker-fin" data-toggle="datetimepicker">
            <div class="input-group-text">
                <i class="fa fa-clock-o"></i>
            </div>
        </div>
        <input type="text" class="form-control datetimepicker-input" data-target="#timepicker-fin"/>
    </div>
    <br/>
    <p class="lead">
        <a id="a-historique" href="#" class="btn btn-primary btn-sm" role="button">Confirmer</a>
    </p>
    <hr/>

    <table id="table-historique" class="table-responsive-datatable display nowrap">
        <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Compte
            </th>
            <th>
                Bucquage
            </th>
            <th>
                Montant
            </th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <label>Total: <span id="total-historique"></span> €</label>

</div>

<!-- Mode archi -->
<div class="tab-pane fade" id="pane-mode-archi" role="tabpanel">
    <div class="form-group">
        <label class="control-label">Liste des prom's (séparer par des virgules)</label>
        <input type="text" class="form-control" id="liste-proms-mode-archi" placeholer="Ex: li92,an67,ka210"/>
    </div>

    <p class="lead">
        <a class="btn btn-primary btn-sm" href="#" id="a-mode-archi" role="button">Mettre ces prom's en mode archi</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="#" id="a-mode-archi-exclusif" role="button">Mettre toutes les prom's sauf celles-ci en mode archi</a>
    </p>
    <br/>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="#" id="a-mode-archi-remove" role="button">Enlever le mode archi pour ces prom's</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="#" id="a-mode-archi-remove-exclusif" role="button">Enlever le mode archi pour toutes les prom's sauf celles-ci</a>
    </p>
</div>

<!-- Liste produits -->
<div class="tab-pane fade" id="liste-produits" role="tabpanel">
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CompteurConsoMois)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CompteurConsoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].RaccourciClavier)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Product) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompteurConsoMois)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompteurConsoTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaccourciClavier)
                </td>
                <td>
                    <a asp-area="Admin" asp-page="/EditDatabase/Consommations/Edit" asp-route-id="@item.Id">Modifier</a> |
                    <a asp-area="Admin" asp-page="/EditDatabase/Consommations/Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<!-- Paramètres -->
<div class="tab-pane fade" id="parametres" role="tabpanel">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SystemParameters.Id"/>
                <div class="form-group">
                    <label asp-for="SystemParameters.DerniereConnexionBabasse" class="control-label"></label>
                    <input asp-for="SystemParameters.DerniereConnexionBabasse" class="form-control"/>
                    <span asp-validation-for="SystemParameters.DerniereConnexionBabasse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="SystemParameters.BucquagesBloques"/> @Html.DisplayNameFor(model => model.SystemParameters.BucquagesBloques)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="SystemParameters.LydiaBloque"/> @Html.DisplayNameFor(model => model.SystemParameters.LydiaBloque)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SystemParameters.CommissionLydiaVariable" class="control-label"></label>
                    <input asp-for="SystemParameters.CommissionLydiaVariable" class="form-control"/>
                    <span asp-validation-for="SystemParameters.CommissionLydiaVariable" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SystemParameters.CommissionLydiaFixe" class="control-label"></label>
                    <input asp-for="SystemParameters.CommissionLydiaFixe" class="form-control"/>
                    <span asp-validation-for="SystemParameters.CommissionLydiaFixe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SystemParameters.MinimumRechargementLydia" class="control-label"></label>
                    <input asp-for="SystemParameters.MinimumRechargementLydia" class="form-control"/>
                    <span asp-validation-for="SystemParameters.MinimumRechargementLydia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="SystemParameters.Maintenance"/> @Html.DisplayNameFor(model => model.SystemParameters.Maintenance)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="SystemParameters.MiseHorsBabasseAutoActivee"/> @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseAutoActivee)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SystemParameters.MiseHorsBabasseSeuil" class="control-label"></label>
                    <input asp-for="SystemParameters.MiseHorsBabasseSeuil" class="form-control"/>
                    <span asp-validation-for="SystemParameters.MiseHorsBabasseSeuil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="SystemParameters.MiseHorsBabasseInstantanee"/> @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseInstantanee)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="SystemParameters.MiseHorsBabasseQuotidienne"/> @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseQuotidienne)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SystemParameters.MiseHorsBabasseQuotidienneHeure" class="control-label"></label>
                    <input asp-for="SystemParameters.MiseHorsBabasseQuotidienneHeure" class="form-control"/>
                    <span asp-validation-for="SystemParameters.MiseHorsBabasseQuotidienneHeure" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SystemParameters.MiseHorsBabasseHebdomadaireJours" class="control-label"></label>
                    <input asp-for="SystemParameters.MiseHorsBabasseHebdomadaireJours" class="form-control"/>
                    <span asp-validation-for="SystemParameters.MiseHorsBabasseHebdomadaireJours" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SystemParameters.MiseHorsBabasseHebdomadaireHeure" class="control-label"></label>
                    <input asp-for="SystemParameters.MiseHorsBabasseHebdomadaireHeure" class="form-control"/>
                    <span asp-validation-for="SystemParameters.MiseHorsBabasseHebdomadaireHeure" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SystemParameters.MotDePasseZifoys" class="control-label"></label>
                    <input asp-for="SystemParameters.MotDePasseZifoys" class="form-control"/>
                    <span asp-validation-for="SystemParameters.MotDePasseZifoys" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SystemParameters.MotDesZifoys" class="control-label"></label>
                    <textarea asp-for="SystemParameters.MotDesZifoys" class="form-control" cols="40" rows="5"></textarea>
                    <span asp-validation-for="SystemParameters.MotDesZifoys" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SystemParameters.Actualites" class="control-label"></label>
                    <textarea asp-for="SystemParameters.Actualites" class="form-control" cols="40" rows="5"></textarea>
                    <span asp-validation-for="SystemParameters.Actualites" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="SystemParameters.Snow"/> @Html.DisplayNameFor(model => model.SystemParameters.Snow)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bases de données -->
<div class="tab-pane fade" id="modifier-bdd" role="tabpanel">
    <p class="lead">
        <a class="btn btn-success" asp-area="Admin" asp-page="/ImportDatabase" role="button">Importer base de donnée access (ancien logiciel)</a>
    </p>
    <hr/>
    <br/>
    <p class="lead">
        <a class="btn btn-primary" asp-area="Admin" asp-page="/EditDatabase/Utilisateurs/Index" role="button">Utilisateurs</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary" asp-area="Admin" asp-page="/EditDatabase/DemandesPaiement/Index" role="button">Demandes de paiement</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary" asp-area="Admin" asp-page="/EditDatabase/HistoriqueTransactions/Index" role="button">Historique des transactions</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary" asp-area="Admin" asp-page="/EditDatabase/ParametresSysteme/Index" role="button">Paramètres systèmes</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary" asp-area="Admin" asp-page="/EditDatabase/RaccourcisProms/Index" role="button">Raccourcis promotions</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary" asp-area="Admin" asp-page="/EditDatabase/Consommations/Index" role="button">Produits</a>
    </p>
</div>
</div>

<!-- Modal confirmation -->
<div class="modal fade" id="modal-succes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Succès</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <label>Les changements ont été appliqués</label>
            </div>
        </div>
    </div>
</div>

<!-- Modal erreur -->
<div class="modal fade" id="modal-erreur" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Erreur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-danger">
                <label>/!\ Erreur: <span id="modal-texte-erreur"></span></label>
            </div>
        </div>
    </div>
</div>