@page
@model Bargio.Areas.Admin.Pages.EditDatabase.ParametresSysteme.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SystemParameters</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.DerniereConnexionBabasse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.DerniereConnexionBabasse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.BucquagesBloques)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.BucquagesBloques)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.LydiaBloque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.LydiaBloque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.Maintenance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.Maintenance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseAutoActivee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseAutoActivee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseSeuil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseSeuil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseInstantanee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseInstantanee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseQuotidienne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseQuotidienne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseQuotidienneHeure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseQuotidienneHeure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseHebdomadaireJours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseHebdomadaireJours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseHebdomadaireHeure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseHebdomadaireHeure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MotDePasseZifoys)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MotDePasseZifoys)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MotDesZifoys)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MotDesZifoys)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.Actualites)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.Actualites)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.Snow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.Snow)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SystemParameters.IpServeur" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
