@page
@model Bargio.Areas.Admin.Pages.EditDatabase.ParametresSysteme.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SystemParameters</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.DerniereConnexionBabasse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.DerniereConnexionBabasse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.BucquagesBloques)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.BucquagesBloques)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.LydiaBloque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.LydiaBloque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.Maintenance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.Maintenance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseAutoActivee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseAutoActivee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseSeuil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseSeuil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseInstantanee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseInstantanee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseQuotidienne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseQuotidienne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseQuotidienneHeure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseQuotidienneHeure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseHebdomadaireJours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseHebdomadaireJours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MiseHorsBabasseHebdomadaireHeure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MiseHorsBabasseHebdomadaireHeure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MotDePasseZifoys)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MotDePasseZifoys)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.MotDesZifoys)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.MotDesZifoys)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.Actualites)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.Actualites)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemParameters.Snow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemParameters.Snow)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SystemParameters.IpServeur">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
