@page
@model Bargio.Areas.User.Pages.BabasseModel

@{
    ViewData["Title"] = "Babasse foy's";
    Layout = "~/Pages/Shared/_LayoutNoNavbar.cshtml";
}

@section IncludeHead {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/babasse.css">
}

@section Scripts {
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/js/easytimer.js"></script>
    <script src="/js/bcrypt.js"></script>
    <script src="/js/date.format.js"></script>
    <script src="/js/babasse.js"></script>
    <script src="/js/babasse-admin.js"></script>
}

<partial name="_ZifoysBabassePartial" />

<div class="bloc-central">
    <div class="container">
        <ul class="list-inline list-header" id="ui-proms">
            @foreach (var r in Model.RaccourcisProms)
            {
                <li class="list-inline-item font-weight-light raccourci-proms">@r.Raccourci</li>
                <li class="list-inline-item font-weight-bold">@(r.TBK + r.Proms)</li>
            }
        </ul>
        <ul class="list-inline list-header" id="ui-userdata" style="display: none;">
            <li class="list-inline-item font-weight-bold" id="username"></li>
            <li class="list-inline-item font-weight-light" id="surnom"></li>
        </ul>
    </div>
</div>

<!-- Modal bootstrap pour sélectionner la prom'ss manuellement -->
<div class="modal" id="modal-autre-proms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">F1 - Autre prom's</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">TBK et prom'ss</label>
                    <input id="input-modal-proms" class="form-control input-lg" placeholder="Cl204">
                </div>
            </div>
            <div class="modal-footer">
                <button id="button-modal-proms" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card bloc-central" id="ui-tarifs" style="display: none;">
                <div class="bloc-case" id="scroll-tarifs">
                    <p class="bloc-titre text-center">Tarifs</p>
                    <table class="table" id="table-tarifs">
                        @foreach (var c in Model.Consommations)
                        {
                            <tr class="clickable-tr">
                                <th class="conso-nom">@c.Nom</th>
                                <td class="conso-raccourci">@(c.RaccourciClavier ?? "")</td>
                                <td class="conso-prix">@(c.Prix + "€")</td>
                                <td class="conso-id" hidden>@(c.Id)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="ui-chargement" class="card bloc-central">
                <div class="bloc-case">
                    <h1>
                        CHARGEMENT INITIAL...
                    </h1>
                </div>
            </div>
            <div class="card bloc-central" id="ui-nums" style="display: none;">
                <div class="bloc-case">
                    <div class="text-box1">
                        <input type="text" id="inputNumss" class="form-control input-lg grandtexte text-center" size="20" autofocus>
                        <label for="inputNumss">Num'ss de babasse</label>
                    </div>
                    <p id="undefined-user-alert" class="text-danger">Ce compte foy's n'existe pas.</p>
                </div>
            </div>

            <div class="card bloc-central my-2" id="ui-hors-truc" style="display: none;">
                <div class="bloc-case bloc-case-rouge">
                    <p class="text-center text-white hbb"><span id="hors-babasse-solde"></span>€</p>
                    <p class="text-center text-white hbb" id="message-hors-truc">Tu es hors babasse.</p>
                </div>
            </div>

            <div class="card bloc-central" id="ui-solde" style="display: none;">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Solde actuel</p>
                    <p id="solde-actuel" class="text-center solde"></p>
                    <p id="solde-en-cours" class="text-center"></p>
                    <p id="solde-commentaire" class="text-center encours">/p>
                </div>
            </div>

            <div class="card bloc-central" id="ui-actualites" style="display: none;">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Actualités & Événements</p>
                    <form class="btn-connexion">
                        <p class="text-justify paragraphe">
                            Jeudi 8 Novembre - Zbeuuuuuuul<br>
                            Vendredi 9 Novembre - Remise de fam'ss<br>
                            WBP - fin'ss - ce genre de choses...
                        </p>
                    </form>
                </div>
            </div>

            <div class="card bloc-central" id="ui-motzifoys" style="display: none;">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Le mot des Zifoy'ss</p>
                    <form class="btn-connexion">
                        <p class="text-justify paragraphe">L'endroit parfait pour caler des rhopses hyper ayat'sssssssss.</p>



                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bloc-central" id="ui-historique" style="display: none;">
                <div id="historique-indisponible" class="bloc-case">
                    <p class="bloc-titre text-center">Historique</p>
                    <h6>Historique indisponible</h6>
                    <p>La babasse n'est pas connectée à internet</p>
                </div>
                <div id="historique-disponible" class="bloc-case scroll-historique">
                    <p class="bloc-titre text-center">Historique</p>
                    <table class="table table-sm" id="table-historique-consos">
                        <tr>
                            <td>Conso</td>
                            <td>Date</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<br>
<footer>
    <div class="bloc-footer">
        <div class="bloc-case">
            <p class="bloc-titre text-center">Dernier bucquage</p>
            <p id="dernier-bucquage" class="text-center paragraphe">F5 le XX/XX/XX à XX:XX</p>
        </div>
        <img id="logo-footer-sync" class="centrage2" src="~/images/title_logo106x20.png" alt="Logal Bargio_tag" width="106" height="20">
        <img id="logo-footer-desync" class="centrage2" src="~/images/title_logo_red106x20.png" alt="Logal Bargio_tag" width="106" height="20" style="display: none;">
    </div>
</footer>

<!-- Modal mdp facultatif -->
<div class="modal" id="modal-mdp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Compte verrouillé par mot de passe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <h6 class="text-center" style="margin-top:30px;">Entrez le mot de passe</h6>

                    <input id="input-mdp" class="form-control input-lg mb-3" type="password" autofocus>

                    <label id="label-mdp-invalide" class="control-label text-danger" style="display: none;">Mot de passe invalide.</label>

                    <button id="button-mdp" type="button" class="btn btn-primary" style="margin-top:30px;">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
</div>
