@page
@model Bargio.Areas.User.Pages.BabasseModel

@{
    ViewData["Title"] = "Babasse foy's";
    Layout = "~/Pages/Shared/_LayoutNoNavbar.cshtml";
}

@section IncludeHead {
    <link rel="stylesheet" href="/css/babasse.css">
}

@section Scripts {
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script src="~/js/easytimer.js"></script>
    <script src="~/js/date.format.js"></script>
    <script src="~/js/babasse.js"></script>
}

<div class="bloc-central">
    <div class="container">
        <ul class="list-inline list-header" id="ui-proms">
            @foreach (var r in Model.RaccourcisProms)
            {
                <li class="list-inline-item font-weight-light raccourci-proms">@r.Raccourci</li>
                <li class="list-inline-item font-weight-bold">@(r.TBK + r.Proms)</li>
            }
        </ul>
        <ul class="list-inline list-header" id="ui-userdata">
            <li class="list-inline-item font-weight-bold" id="username">1 Test 218 -- </li>
            <li class="list-inline-item font-weight-light" id="surnom">Juste Djobo Kante</li>
        </ul>
    </div>
</div>

<!-- Modal bootstrap pour sélectionner la prom'ss manuellement -->
<div class="modal fade" id="modal-autre-proms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">F1 - Autre prom's</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">TBK et prom'ss</label>
                        <input id="input-modal-proms" class="form-control input-lg" placeholder="Cl204">
                </div>
            </div>
            <div class="modal-footer">
                <button id="button-modal-proms" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card bloc-central" id="ui-tarifs">
                <div class="bloc-case" id="scroll-tarifs">
                    <p class="bloc-titre text-center">Tarifs</p>
                    <table class="table">
                        @foreach (var c in Model.Consommations)
                        {
                            <tr class="clickable-tr">
                                <th>@c.Nom</th>
                                <td>@(c.RaccourciClavier ?? "")</td>
                                <td>@(c.Prix + "€")</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="ui-chargement" class="card bloc-central" >
                <div class="bloc-case">
                    <h1>
                        CHARGEMENT INITIAL...
                    </h1>
                </div>
            </div>
            <div class="card bloc-central" id="ui-nums">
                <div class="bloc-case">
                    <div class="text-box1">
                        <input type="text" id="inputNumss" class="form-control input-lg" autofocus>
                        <label for="inputNumss">Num'ss de babasse</label>
                    </div>
                    <p id="undefined-user-alert" class="text-danger">Ce compte foy's n'existe pas.</p>
                </div>
            </div>

            <div class="card bloc-central" id="ui-solde">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Solde actuel</p>
                    <p class="text-center solde">+123,00€</p>
                    <p class="text-center encours">-86,00€</p>
                </div>
            </div>

            <div class="card bloc-central" id="ui-actualites">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Actualités & Événements</p>
                    <form class="btn-connexion">
                        <p class="text-justify paragraphe">
                            Jeudi 8 Novembre - Zbeuuuuuuul<br>
                            Vendredi 9 Novembre - Remise de fam'ss<br>
                            WBP - fin'ss - ce genre de choses...
                        </p>
                    </form>
                </div>
            </div>

            <div class="card bloc-central" id="ui-motzifoys">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Le mot des Zifoy'ss</p>
                    <form class="btn-connexion">
                        <p class="text-justify paragraphe">L'endroit parfait pour caler des rhopses hyper ayat'sssssssss.</p>



                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bloc-central" id="ui-historique">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Historique</p>
                    <div id="historique-indisponible">
                        <h6>Historique indisponible</h6></div>
                        <p>La babasse n'est pas connectée à internet</p>
                    </div>
                    <div id="historique-disponible" class="table-wrapper-scroll-y">
                        <table class="table" id="table-historique-consos">
                            <tr>
                                <th>Conso</th>
                                <td>Date</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
<br>
<footer>
    <div class="bloc-footer">
        <div class="bloc-case">
            <p class="bloc-titre text-center">Dernier bucquage</p>
            <p class="text-center paragraphe">F5 le XX/XX/XX à XX:XX</p>
        </div>
        <img id="logo-footer" class="centrage2" src="~/images/title_logo106x20.png" alt="Logal Bargio_tag" width="106" height="20">
    </div>

</footer>
