@page

@inject SignInManager<IdentityUserDefaultPwd> SignInManager
@inject UserManager<IdentityUserDefaultPwd> UserManager

@model Bargio.Areas.User.Pages.DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}

@section IncludeHead {
    <link rel="stylesheet" href="/css/style.css">
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/js/dashboard.js"></script>
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-9 ">
            <div class="card bloc-central my-2 d-none d-md-block">
                <div class="bloc-case">
                    <p class="text-center numss-accueil">@Model.UserData.UserName</p>
                    <p class="text-center surnom-accueil">@Model.UserData.Surnom</p>
                    <p class="text-center solde-accueil">@Model.UserData.Solde € </p>
                </div>
            </div>

            <div class="card bloc-central my-2 bg-success">
                <div class="bloc-case">
                    <p class=" text-center text-white rechargement">Recharger mon compte</p>
                </div>
            </div>

            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center titre">Actualités & Événements</p><br>
                    <p class="text-justify paragraphe">
                        Jeudi 8 Novembre - Zbeuuuuuuul<br>
                        Vendredi 9 Novembre - Remise de fam'ss<br>
                        WBP - fin'ss - ce genre de choses...
                    </p>
                </div>
            </div>

            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center titre">Le mot des Zifoy'ss</p>
                    <p class="text-justify paragraphe">L'endroit parfait pour caler des rhopses hyper ayat'sssssssss.<br><br></p>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-9">
            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Dernier bucquage</p>
                    <p class="text-center dernier-bucquage">@Model.DernierBucquage</p>
                    <p class="text-center dernier-bucquage-date">@Model.DernierBucquageDate</p>
                </div>
            </div>

            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Mes statistiques</p> <br>
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>