@page

@inject SignInManager<IdentityUserDefaultPwd> SignInManager
@inject UserManager<IdentityUserDefaultPwd> UserManager

@model Bargio.Areas.User.Pages.DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}

@section IncludeHead {
    <link rel="stylesheet" href="/css/style.css">
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-9 ">
            <div class="card bloc-central my-2 d-none d-md-block">
                <div class="bloc-case">
                    <p class="text-center numss-accueil">@Model.UserData.UserName</p>
                    <p class="text-center surnom-accueil">@Model.UserData.Surnom</p>
                    <p class="text-center solde-accueil">@Model.UserData.Solde € </p>
                </div>
            </div>

            <div class="card bloc-central my-2 bg-rechargement">
                <a class="bloc-case" asp-page="/Rechargement" asp-area="User">
                        <p class="text-center text-white rechargement d-none d-md-block">Recharger mon compte</p>
                        <p class="text-center text-white rechargement d-block d-md-none"
                           style="font-size: 1.4rem; margin: -15px 0 -15px 0;">Recharger mon compte</p>
                </a>
            </div>

            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center titre">Actualités & Événements</p><br>
                    <p class="text-justify paragraphe" style="white-space: pre-line">@Model.Actualites</p>
                </div>
            </div>

            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center titre">Le mot des Zifoy'ss</p>
                    <p class="text-justify paragraphe" style="white-space: pre-line">@Model.MotDesZifoys</p>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-9">
            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Dernier bucquage</p>
                    <p class="text-center dernier-bucquage">@Model.DernierBucquage</p>
                    <p class="text-center dernier-bucquage-date">@Model.DernierBucquageDate</p>
                </div>
            </div>

            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center">Mes statistiques</p> <br>
                    <p id="doughnut-chart-message" class="bloc-titre text-center d-none">Y'a queud's, faut consommer !</p> <br>
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript">
        var compteurConsos = @Html.Raw(Json.Serialize(Model.CompteurConsos));

        $("#navbar-accueil").addClass("active");
    </script>
    <script src="/js/dashboard.js"></script>
}
