@page
@model Bargio.Areas.Admin.Pages.EditDatabase.Consommations.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Prix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Prix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.CompteurConsoMois)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.CompteurConsoMois)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.CompteurConsoTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.CompteurConsoTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.RaccourciClavier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.RaccourciClavier)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Product.Id"/>
        <input type="submit" value="Delete" class="btn btn-default"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>